<div style="width:100%; height:100%;">
  <div class="menu--secondary">
    <ul class="menu">
      <li>
        <a href="basic" class="herffont">Basic</a>
      </li>
      <li>
        <a href="auto" class="active herffont">Auto</a>
      </li>
    </ul>
  </div>
  <div div style="width:100%; height:95%;">
    <div style="width:50%; height:100%;float: left;">
      <div style="width:100%; height:10%;">
        <h2 align="center" vertical="center">Auto Model</h2>
      </div>
      <div style="width:100%;">
        <img src="{{imgUrl}}" style="width:100%; height:100%;" />
      </div>
      <div style="text-align:center; height:50px;">
        <button style="margin-top:10px;margin-right:10px;height:30px;" (click)="train()">Train</button>  
      </div>
    </div>
    <div style="width:50%; height:100%;float: left;background-color: rgb(229, 229, 240);">
      <div style="padding-left:50px;">
        <h2 align="center" vertical="center">Test</h2>
        <form style="margin-top:30px;" [formGroup]="form">
          <div style="margin-top:20px;">
            <label for="id">Time:</label>
            <ng5-slider [(value)]="hackathon.time" [options]="timeOptions"></ng5-slider>
          </div>

          <div style="margin-top:20px;">
            <label for="cpu">CPU:</label>
            <ng5-slider [(value)]="hackathon.cpu" [options]="options"></ng5-slider>
          </div>

          <div style="margin-top:20px;">
            <label for="network">Network:</label>
            <ng5-slider [(value)]="hackathon.network" [options]="options"></ng5-slider>
          </div>
          <div style="text-align:center;">
            <button style="margin-top:80px;height:30px;" (click)="predict()">Predict</button>
            <button *ngIf="predictResult == 'Normal'" style="margin-top:0px;height:30px;margin-left:10px; background-color:green" (click)="openModal(template)">{{predictResult}}</button>
            <button *ngIf="predictResult == 'Anomaly'" style="margin-top:0px;height:30px;margin-left:10px; background-color:red" (click)="openModal(template)">{{predictResult}}</button>             
          </div>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Test Result</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{testResultImgUrl}}" style="width:100%; height:100%;" />
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>

</div>